@import "materialize";

* {
  box-sizing: border-box;
}

body {
  background-color: #e9ebee;
}

header {
  width: 100%;
  nav {
    padding: 0 10px 0 150px;
    background-color: #3b5998 !important;

    h2 {
      color: #fff !important;
    }
  }
  position: relative;
  form {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex !important;
    justify-content: space-between;
    width: 700px;

    input[type=email],
    input[type=password]{
      width: 200px !important;
      background-color: white !important;
      border-radius: 5px !important;
      margin-right: 30px;
      padding: 0 9px !important;
      height: 35px !important;
      margin-top: -5px !important;
    }

    input[type=submit] {
      background-color: #3d62b4 !important;
      padding: 6px 25px !important;
      border: none;
      color: white;
      font-size: 17px;
      margin-top: -4px !important;
      border-radius: 3px;

      &:hover {
        background-color: #3b5998 !important;
        padding: 5px 24px !important;
        border: 1px solid rgb(51, 40, 40);
      }
    }
    
    input[type=checkbox] {
      opacity: 1 !important;

    }
  }
}

.mid {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 100% !important;
}

.content-box {
  width: 500px;
  margin: auto; 
}

.post-container {
  padding-top: 10px;
}

.textarea { 
  width: 100% !important;
  height: 100px;
  font-size: 16px;
  background-color: white !important;
  border: none;
  resize: none;
  margin-right: 30px;
  padding: 22px;
  margin-top: -5px !important;
    &::placeholder {
      color: #8D949E;
    }
}

.new-post-button {
  width: 100%;
  border: none;
  background-color: #3b5998;
  color: white;
  padding: 7px 15px;
}

.post-card {
  background-color: #fff;
  padding: 15px;
  margin-top: 20px;

  h4 {
    margin: 0 !important;
    font-size: 16px;
    color: #3d62b4;
  }

  i {
    font-size: 17px;
  }
}

.post-date {
  color: #616770;
  font-size: 12px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  color: #fff;

    a {
      color: #fff;
      background-color: #3b5998;
      &:hover {
        color: #fff;
        background-color: #3b5998;
      }
    }
}