<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <% if user_signed_in? %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
      <% else %>
        <ul>
          <%= render 'layouts/signin' %>
        </ul>
      <% end %>
    </div>
  </nav>
</header>